$primary-color: #064180;


$form_error_color: #dc3545;
$block_button_color: #dc3545;
$unfollow_button_color: #dc3545;


// nav button styling
$nav_link_color_hover: #064180;
$nav_signout_button:#8b111e;

$card_styling_header:#01439b;
$card_styling_body:#f8f5f5;
$card_styling_footer:#01439b;