@import "../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

$like_button_color: #dc3545;



// Login page

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .promt {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  

  input {
    border: 3px solid;
    border-radius: 4px;
    transition: border-color 0.5s ease-out;
  }
  
  input:invalid {
    border-color: $form_error_color;
  }
 
}



// Feed Page
  .navbar {
    display: flex;
    justify-content: center;
  }
// profile page